:root {
    --ds-palette-black: #000000;
    --ds-palette-gray: #666666;
    --ds-palette-red: #f51b1b;
    --ds-palette-white: #ffffff;

    --color-text-primary: var(--ds-palette-white);
    --color-text-secondary: var(--ds-palette-gray);
    --color-bg-primary: var(--ds-palette-black);
    --color-bg-accent: var(--ds-palette-red);

    --font-h1: normal 700 16px/24px 'Redcollar', Helvetica, Arial, sans-serif;
    --font-h2: normal 700 16px/20px 'Redcollar', Helvetica, Arial, sans-serif;
    --font-p1: normal 400 16px/20px 'TT Commons', Helvetica, Arial, sans-serif;
    --font-p2: normal 400 16px/20px 'TT Commons', Helvetica, Arial, sans-serif;

    --unit-spacing: 8px;
}
     html[data-theme="light"] {
        --color-text-primary: var(--ds-palette-black);
        --color-text-secondary: var(--ds-palette-gray);
        --color-bg-primary: var(--ds-palette-white);
        --color-bg-accent: var(--ds-palette-red);
    }
      
      html[data-theme="dark"] {
        --color-text-primary: var(--ds-palette-white);
        --color-text-secondary: var(--ds-palette-gray);
        --color-bg-primary: var(--ds-palette-black);
        --color-bg-accent: var(--ds-palette-red);
    }

@media screen and (min-width: 768px) {
    :root {
        --font-h1: normal 700 24px/28px 'Redcollar', Helvetica, Arial, sans-serif;
        --font-p1: normal 400 20px/24px 'TT Commons', Helvetica, Arial, sans-serif;
        --font-p2: normal 400 18px/24px 'TT Commons', Helvetica, Arial, sans-serif;
    }
}